In [1]:
#pandas 
import pandas as pd

In [2]:
print(pd)

<module 'pandas' from 'C:\\Users\\Syahya\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>

In [3]:
#Data types
cars = pd.Series(['handa','toyota','peugot','lexus'])
#print(cars)
cars

0     handa
1    toyota
2    peugot
3     lexus
dtype: object

In [4]:
#colors
colors = pd.Series(['red','blue','green','black'])

In [5]:
colors

0      red
1     blue
2    green
3    black
dtype: object

In [9]:
price = pd.Series(['$1000','$500','$800','$760'])

In [10]:
#DataFrame
car_data = pd.DataFrame({'car model':cars, 'colors':colors, 'price': price})
car_data

  car model colors  price
0     handa    red  $1000
1    toyota   blue   $500
2    peugot  green   $800
3     lexus  black   $760