In [1]:
import pandas as pd

In [5]:
food = pd.Series (["protein", "carbohydrate", "fat"])

In [6]:
food

0         protein
1    carbohydrate
2             fat
dtype: object

In [9]:
teams = pd.Series (["Arsenal", "Manchester", "Real_Madrid", "Barcelona"])

In [10]:
teams

0        Arsenal
1     Manchester
2    Real_Madrid
3      Barcelona
dtype: object

In [11]:
foods = pd.Series (["rice", "beans", "apples", "oranges"])

In [12]:
foods

0       rice
1      beans
2     apples
3    oranges
dtype: object

In [13]:
price = pd.Series (["$20", "$45", "$10", "$70"])

In [14]:
price

0    $20
1    $45
2    $10
3    $70
dtype: object

In [15]:
food_data = pd.DataFrame ({"foods item": foods, "price of item": price })

In [16]:
food_data

  foods item price of item
0       rice           $20
1      beans           $45
2     apples           $10
3    oranges           $70